body {
  background-image: url('stephen.gif');
  background-size: 20%;
  background-repeat: repeat;
  padding:0;
  margin:0;
}



.collapsible {
  background-color: #A424FF;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #631CA0;
}

.content {
  padding: 0 18px;
  display; none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.title {
  margin: 100px;
  text-align: center;
  font-family: Hip Pocket;
  Font-size: 75px;
  color: #A424FF;
}


.animatedflip {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: flip;
}

@keyframes flip {
  0% {
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    animation-timing-function: ease-in;
  }

  100% {
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    animation-timing-function: ease-in;
  }
}
